<% error = @parking_history.errors.include?(:dh_ins) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :dh_ins, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :dh_ins, :class => 'form-control input-xlarge input-with-feedback', :autofocus => true %>
    <span class='help-inline'><%= error ? f.error_message_on(:dh_ins) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @parking_history.errors.include?(:card) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :card, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :card, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:card) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @parking_history.errors.include?(:dt_time_in) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :dt_time_in, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :dt_time_in, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:dt_time_in) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @parking_history.errors.include?(:dt_time_out) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :dt_time_out, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :dt_time_out, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:dt_time_out) : "Ex: a simple text" %></span>
  </div>
</fieldset>
<% error = @parking_history.errors.include?(:user) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :user, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :user, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:user) : "Ex: a simple text" %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:parking_histories, :index), :class => 'btn btn-default' %>
</div>