<ul class="nav nav-tabs">
  <li class=active> <%= link_to tag_icon(:list, pat(:list)), url(:parking_histories, :index) %></li>
</ul>
<div class=tabs-content>
  <table class="table table-bordered table-hover">
      <tr>
        <th><%= t('card_number') %></th>
        <th><%= t('entry_time') %></th>
        <th><%= t('exit_time') %></th>
        <th><%= t('utilized_time') %></th>
      </tr>
      <% @parking_histories.each do |history| %>
      <tr>
        <td><%= history.card_number %></td>
        <td><%= l history.dt_checkin, format: :short if history.dt_checkin %></td>
        <td><%= l history.dt_checkout, format: :short if history.dt_checkout %></td>
        <td><%= history.utilized_time_in_hours %></td>
      </tr>
      <% end %>
    </table>
  <%= will_paginate @parking_histories %>
</div>