<div class="col-md-12">

<form>
    <div class="row">
    <div class="col-md-2">
      <%= label_tag :card_number, caption: (t 'card_number') %><br>
      <%= text_field_tag 'q[card_number]', placeholder: "#{t 'card_number'}" , class: 'search-input'%><br>
    </div>
    <div class="col-md-3">
      <%= label_tag :dt_checkin, caption: (t 'dt_checkin') %><br>
      
      <%= text_field_tag 'q[dt_checkin_gt]', placeholder: "#{t 'dt_checkin'}", type: 'date' , class: 'search-input'%><br>
      até<br>
      <%= text_field_tag 'q[dt_checkin_lt]', placeholder: "#{t 'dt_checkin'}", type: 'date' , class: 'search-input'%><br>
    </div>
    <br>
    </div>
    <%= submit_tag "Filtrar", class: 'btn btn-primary'%>
  
</form>
</div>
<br>
<br>
<div class=tabs-content>
  <table id=list class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
          <th class=header> <%= mat(:payment, :id) %></th>
          <th class=header> <%= mat(:payment, :city) %></th>
          <th class=header> <%= mat(:payment, :address) %></th>
          <th class=header> <%= mat(:payment, :diff_hours) %></th>
          <th class=header> <%= mat(:payment, :diff_days) %></th>
          <th class=header> <%= mat(:payment, :card_number) %></th>
          <th class=header> <%= mat(:payment, :price) %></th>
          <th class=header> <%= mat(:payment, :dt_checkin) %></th>
          <th class=header> <%= mat(:payment, :dt_checkout) %></th>
          <th class=header> <%= mat(:payment, :received_value) %></th>
          <th class=header> <%= mat(:payment, :tolerance) %></th>
          <th class="header list-row-action-header"></th>
    </thead>

    <tbody>
      <% @payments.each do |payment| %>
        <tr class=list-row>
          <td class=list-column> <%= payment.id %> </td>
          <td class=list-column> <%= payment.city %> </td>
          <td class=list-column> <%= payment.address %> </td>
          <td class=list-column> <%= payment.diff_hours %> </td>
          <td class=list-column> <%= payment.diff_days %> </td>
          <td class=list-column> <%= payment.card_number %> </td>
          <td class=list-column> <%= payment.price %> </td>
          <td class=list-column> <%= l payment.dt_checkin , format: :short if payment.dt_checkin %> </td>
          <td class=list-column> <%= l payment.dt_checkout , format: :short if payment.dt_checkout %> </td>
          <td class=list-column> <%= payment.received_value %> </td>
          <td class=list-column> <%= payment.tolerance %> </td>
         
      <% end %>
    </tbody>
    
  </table>
  <%= will_paginate @payments %>
</div>

<style type="text/css">
.search-input{
  width: 100%;
}
</style>